# ==========================
# Python Cache
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Virtual Environment
# ==========================
venv/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# JetBrains IDEs
# ==========================
.idea/

# ==========================
# macOS / Windows
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Pytest Cache
# ==========================
.pytest_cache/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# SQLite Database
# ==========================
*.db

# ==========================
# Python Distribution Files
# ==========================
build/
dist/
*.egg-info/